body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
nav{
  border: solid 1px white;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
nav {
  display: flex;
  justify-content: center;
  border: solid 1px white;
}

a {
  padding: 5px;
  text-decoration: none;
}


.score {
  display: flex;
  justify-content: center;
  border: solid 1px white;
}
.score div {
  padding: 5px;
}

.game {
  display: flex;
  justify-content: space-around;
  border: solid 1px white;
}

.circle {
  border: solid 1px white;
  border-radius: 50%;
  height: 200px;
  width: 200px;

}

.redBttn{
  background-color: red;
}
.blueBttn{
  background-color: blue;
}
