body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
/*font-family: 'Press Start 2P', cursive;*/
font-family: 'Bungee Shade', cursive;
  font-size: 150px;
  border: solid 1px white;
}
nav {
  border: solid 1px white;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
nav {
  display: flex;
  justify-content: center;
  border: solid 1px white;
}

a {
  padding: 5px;
  text-decoration: none;
}


.score {
  display: flex;
  justify-content: center;
  border: solid 1px white;
}
.score div {
  padding: 5px;
}

.game {
  display: flex;
  justify-content: space-around;
  border: solid 1px white;
}

.circle {
  opacity: .5;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: white;
}


.circle:active{
  opacity: 1;
  border: solid 1px white;

}



/*.red-circle{
  background-color: red;

}
.blue-circle{
  background-color: blue;
}*/
/*this class can be added to make a circle button flash*/
.flash {
  opacity: 1;
  /*background-color: yellow;*/
  /*animation-name: colorFlash;
  animation-duration: 4s;*/
  /*animation: flash 1s ease-out;
  animation-iteration-count: 1;*/
}


/*@keyframes colorFlash {

    /*0% { opacity: .5; }
    50% { opacity: 1 }
    100% { opacity: .5}
}*/
